@charset 'utf-8';
@use "_common_set" as def;


#bo_v {
    max-width:900px; 
    min-width: 320px; 
    width:100%; 
    margin:0 auto;
}

#bo_v_title {
    a {
        img {
            width: 2vw;
        }
    }
    .bo_v_tit {
        font-size: 1.5em;
        letter-spacing: 0.5px;
        color: #6b6b6b;
    }
}

.view_tit {
    font-size: 16px;
    color: def.$main_blue;
    padding: 10px;
    line-height: 25px;
    text-align: left;
}

.view_kakao_btn {
    width: 55%;
    margin: 0 auto;
    input {
        width: 180px;
        height: 50px;
        background-color: def.$main_blue;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 22px;
        font-weight: 400;
        border-radius: 30px;
    }
}

.view_send_txt {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    color: #3a3a3a;
}

.color_main2 {
    b {
        color: def.$main_skyblue;
        font-size: 36px;
        letter-spacing: -0.1em;
    }
}


// comment
#bo_vc {
    .cm_wrap {
        span {
            &.member {
                color: def.$main_blue;
            }
        }
    }
}